In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from datetime import datetime 
from IPython.display import display, HTML, clear_output
import gc
import seaborn as sns
from scipy.stats import normaltest, boxcox, probplot
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from random import shuffle
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.metrics import f1_score, balanced_accuracy_score
from statsmodels.tsa.stattools import adfuller

In [2]:
r'''
dataset2019: all sumo data with ocupation (requested in sumo office)
'''

dataset2019_path = r'C:\Users\ing_l\Tesis grado\Data\dataset_2019.csv'

In [3]:
dataset2019 = pd.read_csv(dataset2019_path)[['id_cuadra', 'direccion', 'fecha', 'tiempo', 'operacion', 'ocupacion', 'latitud', 'longitud']]
dataset2019['dia de la semana'] = -1
dataset2019.columns.names = ['dataset2019']

In [4]:
def correct_type(row):
    '''
    Corrects the dtype of fecha, tiempo and ocupación on the df
    '''
    row['fecha'] = pd.to_datetime(row['fecha'], dayfirst=True).date()
    row['tiempo'] = pd.to_datetime(row['tiempo']).time()
    row['ocupacion'] = int(row['ocupacion'])
    row['dia de la semana'] = row['fecha'].weekday()
    return row

print('Working on dataset2019...')
dataset2019 = dataset2019.apply(correct_type, axis=1).sort_values(by=['fecha', 'tiempo'])
dataset2019['mes'] = dataset2019['fecha'].apply(lambda x: x.month)
dataset2019['hora'] = dataset2019['tiempo'].apply(lambda x: x.hour)
clear_output()

In [5]:
dataset2019_backup = dataset2019.copy()

In [6]:
dataset2019['timestamp'] = dataset2019['tiempo'].apply(lambda x: x.hour * 60 * 60 + x.minute * 60 + x.second)

In [7]:
half_hour = 30 * 60

def set_half_hour(ts):
    global half_hour
    return (math.floor(ts / half_hour)) * half_hour

dataset2019['media hora'] = dataset2019['timestamp'].apply(set_half_hour)

In [8]:
dataset2019

dataset2019,id_cuadra,direccion,fecha,tiempo,operacion,ocupacion,latitud,longitud,dia de la semana,mes,hora,timestamp,media hora
0,16,Belgrano 660,2019-01-01,10:55:00,0,0,-37.328838,-59.134455,1,1,10,39300,37800
7,1,General Pinto 545,2019-01-01,15:12:00,1,1,-37.327782,-59.136657,1,1,15,54720,54000
9,65,Rodriguez 348,2019-01-01,15:13:00,1,1,-37.329387,-59.134833,1,1,15,54780,54000
8,1,General Pinto 545,2019-01-01,15:15:00,0,0,-37.327782,-59.136657,1,1,15,54900,54000
10,65,Rodriguez 348,2019-01-01,16:22:00,0,0,-37.329387,-59.134833,1,1,16,58920,57600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2957257,18,Sarmiento 543,2019-12-31,19:45:00,1,4,-0.000000,-0.000000,1,12,19,71100,70200
2957258,18,Sarmiento 543,2019-12-31,19:46:00,0,3,-0.000000,-0.000000,1,12,19,71160,70200
2956381,24,Belgrano 364,2019-12-31,19:53:00,1,1,-37.330077,-59.138438,1,12,19,71580,70200
2956511,60,Chacabuco 357,2019-12-31,20:08:00,0,0,-37.330203,-59.137003,1,12,20,72480,72000
2956907,42,Mitre 948,2019-12-31,21:55:00,0,0,-37.322147,-59.132182,1,12,21,78900,77400

# Creación de los dos datasets. 

### Dataset_hh posee los datos agrupados cada media hora

In [33]:
dataset_hh = dataset2019.groupby(['id_cuadra','fecha','media hora']).mean()
dataset_hh = dataset_hh.sort_values(by=['id_cuadra','fecha','media hora']).reset_index()[['id_cuadra', 'fecha', 'media hora', 'ocupacion', 'dia de la semana', 'mes']]

In [34]:
out = pd.DataFrame(columns=['id_cuadra', 'fecha', 'media hora', 'ocupacion', 'ocupacion anterior', 'dia de la semana', 'mes', 'targets'])

for s in dataset_hh['id_cuadra'].drop_duplicates().sort_values():
    clear_output()
    print('Street:', s)
    dataset_hh_s = dataset_hh.loc[dataset_hh['id_cuadra'] == s].reset_index(drop=True)
    
    for f in dataset_hh_s['fecha'].drop_duplicates().sort_values():
        
        to_append = pd.DataFrame(columns=['id_cuadra', 'fecha', 'media hora', 'ocupacion', 'ocupacion anterior', 'dia de la semana', 'mes', 'targets'])

        dataset_hh_f = dataset_hh_s.loc[dataset_hh_s['fecha'] == f].reset_index(drop=True)

        to_append = dataset_hh_f[1:-1].reset_index(drop=True)
        
        to_append['ocupacion anterior'] = dataset_hh_f['ocupacion'][:-2].reset_index(drop=True)
        to_append['targets'] = dataset_hh_f['ocupacion'][2:].reset_index(drop=True)
        out = out.append(to_append)

dataset_hh = out

Street: 190

In [35]:
dataset_hh[0:50]

,dia de la semana,fecha,id_cuadra,media hora,mes,ocupacion,ocupacion anterior,targets
0,2.0,2019-01-02,0,36000,1.0,1.000000,2.000000,1.000000
1,2.0,2019-01-02,0,37800,1.0,1.000000,1.000000,2.750000
2,2.0,2019-01-02,0,39600,1.0,2.750000,1.000000,2.500000
3,2.0,2019-01-02,0,41400,1.0,2.500000,2.750000,0.714286
4,2.0,2019-01-02,0,43200,1.0,0.714286,2.500000,1.000000
5,2.0,2019-01-02,0,45000,1.0,1.000000,0.714286,2.700000
6,2.0,2019-01-02,0,46800,1.0,2.700000,1.000000,2.166667
7,2.0,2019-01-02,0,48600,1.0,2.166667,2.700000,3.900000
8,2.0,2019-01-02,0,50400,1.0,3.900000,2.166667,3.833333
9,2.0,2019-01-02,0,52200,1.0,3.833333,3.900000,2.333333
10,2.0,2019-01-02,0,54000,1.0,2.333333,3.833333,1.000000
11,2.0,2019-01-02,0,55800,1.0,1.000000,2.333333,3.000000
12,2.0,2019-01-02,0,57600,1.0,3.000000,1.000000,4.500000
13,2.0,2019-01-02,0,59400,1.0,4.500000,3.000000,3.000000
14,2.0,2019-01-02,0,61200,1.0,3.000000,4.500000,3.833333
15,2.0,2019-01-02,0,63000,1.0,3.833333,3.000000,2.833333
16,2.0,2019-01-02,0,64800,1.0,2.833333,3.833333,5.400000
17,2.0,2019-01-02,0,66600,1.0,5.400000,2.833333,8.166667
18,2.0,2019-01-02,0,68400,1.0,8.166667,5.400000,6.428571
19,2.0,2019-01-02,0,70200,1.0,6.428571,8.166667,1.200000
0,3.0,2019-01-03,0,32400,1.0,2.000000,1.000000,5.428571
1,3.0,2019-01-03,0,34200,1.0,5.428571,2.000000,9.000000
2,3.0,2019-01-03,0,36000,1.0,9.000000,5.428571,8.133333
3,3.0,2019-01-03,0,37800,1.0,8.133333,9.000000,7.500000
4,3.0,2019-01-03,0,39600,1.0,7.500000,8.133333,6.333333
5,3.0,2019-01-03,0,41400,1.0,6.333333,7.500000,4.823529
6,3.0,2019-01-03,0,43200,1.0,4.823529,6.333333,0.666667
7,3.0,2019-01-03,0,45000,1.0,0.666667,4.823529,2.642857
8,3.0,2019-01-03,0,46800,1.0,2.642857,0.666667,2.500000
9,3.0,2019-01-03,0,48600,1.0,2.500000,2.642857,2.000000
10,3.0,2019-01-03,0,50400,1.0,2.000000,2.500000,1.117647
11,3.0,2019-01-03,0,52200,1.0,1.117647,2.000000,0.500000
12,3.0,2019-01-03,0,54000,1.0,0.500000,1.117647,0.666667
13,3.0,2019-01-03,0,55800,1.0,0.666667,0.500000,0.333333
14,3.0,2019-01-03,0,57600,1.0,0.333333,0.666667,1.571429
15,3.0,2019-01-03,0,59400,1.0,1.571429,0.333333,2.285714
16,3.0,2019-01-03,0,61200,1.0,2.285714,1.571429,1.333333
17,3.0,2019-01-03,0,63000,1.0,1.333333,2.285714,1.000000
18,3.0,2019-01-03,0,64800,1.0,1.000000,1.333333,1.692308
19,3.0,2019-01-03,0,66600,1.0,1.692308,1.000000,1.222222
20,3.0,2019-01-03,0,68400,1.0,1.222222,1.692308,4.000000
21,3.0,2019-01-03,0,70200,1.0,4.000000,1.222222,1.500000
22,3.0,2019-01-03,0,72000,1.0,1.500000,4.000000,0.500000
23,3.0,2019-01-03,0,75600,1.0,0.500000,1.500000,0.500000
0,4.0,2019-01-04,0,32400,1.0,2.500000,1.500000,4.181818
1,4.0,2019-01-04,0,34200,1.0,4.181818,2.500000,10.000000
2,4.0,2019-01-04,0,36000,1.0,10.000000,4.181818,12.700000
3,4.0,2019-01-04,0,37800,1.0,12.700000,10.000000,13.631579
4,4.0,2019-01-04,0,39600,1.0,13.631579,12.700000,14.555556
5,4.0,2019-01-04,0,41400,1.0,14.555556,13.631579,15.500000

In [36]:
dataset_hh.to_csv(r'C:\Users\ing_l\Tesis grado\Data\Predictors data\Dataset2019_half_hour_mean.csv')

### Dataset_hour posee los datos agrupados por hora.

In [49]:
dataset_hour = dataset2019.groupby(['id_cuadra','fecha','hora']).mean()
dataset_hour = dataset_hour.sort_values(by=['id_cuadra','fecha','hora']).reset_index()[['id_cuadra', 'fecha', 'hora', 'ocupacion', 'dia de la semana', 'mes']]

In [50]:
out = pd.DataFrame(columns=['id_cuadra', 'fecha', 'hora', 'ocupacion', 'dia de la semana', 'mes', 'targets'])

for s in dataset_hour['id_cuadra'].drop_duplicates().sort_values():
    clear_output()
    print('Street:', s)
    dataset_hour_s = dataset_hour.loc[dataset_hour['id_cuadra'] == s].reset_index(drop=True)
    
    for f in dataset_hour_s['fecha'].drop_duplicates().sort_values():
        to_append = pd.DataFrame(columns=['id_cuadra', 'fecha', 'hora', 'ocupacion', 'ocupacion anterior', 'dia de la semana', 'mes', 'targets'])

        dataset_hour_f = dataset_hour_s.loc[dataset_hour_s['fecha'] == f].reset_index(drop=True)

        to_append = dataset_hour_f[1:-1].reset_index(drop=True)
        
        to_append['ocupacion anterior'] = dataset_hour_f['ocupacion'][:-2].reset_index(drop=True)
        to_append['targets'] = dataset_hour_f['ocupacion'][2:].reset_index(drop=True)
        out = out.append(to_append)
dataset_hour = out

Street: 190

In [51]:
dataset_hour[0:50]

,dia de la semana,fecha,hora,id_cuadra,mes,ocupacion,ocupacion anterior,targets
0,2.0,2019-01-02,10,0,1.0,1.000000,2.000000,2.625000
1,2.0,2019-01-02,11,0,1.0,2.625000,1.000000,0.857143
2,2.0,2019-01-02,12,0,1.0,0.857143,2.625000,2.500000
3,2.0,2019-01-02,13,0,1.0,2.500000,0.857143,3.863636
4,2.0,2019-01-02,14,0,1.0,3.863636,2.500000,2.000000
5,2.0,2019-01-02,15,0,1.0,2.000000,3.863636,4.000000
6,2.0,2019-01-02,16,0,1.0,4.000000,2.000000,3.500000
7,2.0,2019-01-02,17,0,1.0,3.500000,4.000000,4.000000
8,2.0,2019-01-02,18,0,1.0,4.000000,3.500000,7.230769
9,2.0,2019-01-02,19,0,1.0,7.230769,4.000000,1.200000
0,3.0,2019-01-03,9,0,1.0,5.000000,1.000000,8.500000
1,3.0,2019-01-03,10,0,1.0,8.500000,5.000000,6.625000
2,3.0,2019-01-03,11,0,1.0,6.625000,8.500000,3.739130
3,3.0,2019-01-03,12,0,1.0,3.739130,6.625000,2.571429
4,3.0,2019-01-03,13,0,1.0,2.571429,3.739130,1.400000
5,3.0,2019-01-03,14,0,1.0,1.400000,2.571429,0.600000
6,3.0,2019-01-03,15,0,1.0,0.600000,1.400000,1.200000
7,3.0,2019-01-03,16,0,1.0,1.200000,0.600000,1.750000
8,3.0,2019-01-03,17,0,1.0,1.750000,1.200000,1.409091
9,3.0,2019-01-03,18,0,1.0,1.409091,1.750000,2.076923
10,3.0,2019-01-03,19,0,1.0,2.076923,1.409091,1.500000
11,3.0,2019-01-03,20,0,1.0,1.500000,2.076923,0.500000
12,3.0,2019-01-03,21,0,1.0,0.500000,1.500000,0.500000
0,4.0,2019-01-04,9,0,1.0,3.923077,1.500000,11.500000
1,4.0,2019-01-04,10,0,1.0,11.500000,3.923077,13.928571
2,4.0,2019-01-04,11,0,1.0,13.928571,11.500000,15.083333
3,4.0,2019-01-04,12,0,1.0,15.083333,13.928571,12.423077
4,4.0,2019-01-04,13,0,1.0,12.423077,15.083333,13.153846
5,4.0,2019-01-04,14,0,1.0,13.153846,12.423077,4.928571
6,4.0,2019-01-04,15,0,1.0,4.928571,13.153846,2.666667
7,4.0,2019-01-04,16,0,1.0,2.666667,4.928571,5.800000
8,4.0,2019-01-04,17,0,1.0,5.800000,2.666667,7.571429
9,4.0,2019-01-04,18,0,1.0,7.571429,5.800000,12.066667
10,4.0,2019-01-04,19,0,1.0,12.066667,7.571429,8.500000
11,4.0,2019-01-04,20,0,1.0,8.500000,12.066667,3.000000
0,5.0,2019-01-05,10,0,1.0,3.523810,1.000000,8.695652
1,5.0,2019-01-05,11,0,1.0,8.695652,3.523810,8.307692
2,5.0,2019-01-05,12,0,1.0,8.307692,8.695652,6.285714
3,5.0,2019-01-05,13,0,1.0,6.285714,8.307692,6.000000
4,5.0,2019-01-05,16,0,1.0,6.000000,6.285714,6.000000
5,5.0,2019-01-05,17,0,1.0,6.000000,6.000000,6.666667
6,5.0,2019-01-05,18,0,1.0,6.666667,6.000000,6.000000
7,5.0,2019-01-05,19,0,1.0,6.000000,6.666667,7.000000
0,0.0,2019-01-07,10,0,1.0,15.222222,7.500000,14.966667
1,0.0,2019-01-07,11,0,1.0,14.966667,15.222222,12.000000
2,0.0,2019-01-07,12,0,1.0,12.000000,14.966667,10.827586
3,0.0,2019-01-07,13,0,1.0,10.827586,12.000000,11.452381
4,0.0,2019-01-07,14,0,1.0,11.452381,10.827586,7.052632
5,0.0,2019-01-07,15,0,1.0,7.052632,11.452381,2.470588
6,0.0,2019-01-07,16,0,1.0,2.470588,7.052632,4.600000

In [52]:
dataset_hour.to_csv(r'C:\Users\ing_l\Tesis grado\Data\Predictors data\Dataset2019_hour_mean.csv')