In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [12]:
pd.set_option('display.max_rows', 100)

In [13]:
#Just to have each print in the same row
CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [14]:
r'''   
data_w_operacion: (DataFrame) data with their corresponding operacion (Entrada/Salida).
    path: C:\Users\ing_l\Tesis grado\Data\SUMO_data_w_operacion.csv

'''

data_path = r'C:\Users\ing_l\Tesis grado\Data\SUMO_data_w_operacion.csv'

In [15]:
data = pd.read_csv(data_path)

In [16]:
data

,id_cuadra,direccion,fecha,tiempo,ocupacion,lugares_cuadra,ocupacion_max,dispon_parq,altas_bajas(dia),fecha_tiempo,operacion
0,2,General Pinto 545,11-09-19,17:15:31,6,27.0,17,green,184,2019-09-11 17:15:31,NaN
1,2,General Pinto 545,11-09-19,17:20:25,7,27.0,17,green,184,2019-09-11 17:20:25,Entrada
2,2,General Pinto 545,11-09-19,17:34:54,6,27.0,17,green,190,2019-09-11 17:34:54,Salida
3,2,General Pinto 545,11-09-19,17:40:09,5,27.0,17,green,191,2019-09-11 17:40:09,Salida
4,2,General Pinto 545,11-09-19,17:45:05,6,27.0,17,green,192,2019-09-11 17:45:05,Entrada
...,...,...,...,...,...,...,...,...,...,...,...
149903,99,Av. España 970,15-10-19,12:09:01,3,NaN,7,green,40,2019-10-15 12:11:08,Salida
149904,99,Av. España 970,15-10-19,12:14:08,2,NaN,7,green,42,2019-10-15 12:14:08,Salida
149905,99,Av. España 970,15-10-19,12:22:40,3,NaN,7,green,43,2019-10-15 12:22:40,Entrada
149906,99,Av. España 970,15-10-19,12:35:01,2,NaN,7,green,45,2019-10-15 12:35:01,Salida
149907,99,Av. España 970,15-10-19,12:43:42,3,NaN,7,green,46,2019-10-15 12:43:42,Entrada